<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2  th:text="#{mark.detailsMark}"></h2>

		<div class="panel panel-default">
			<div class="panel-heading">DNI</div>
			<div class="panel-body" th:text="${mark.user.dni}">28276</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading"  th:text="#{mark.descrip}">Descripción</div>
			<div class="panel-body" th:text="${mark.description}">
				UO258606@uniovi.es</div>
			<div class="panel panel-default">
				<div class="panel-heading"  th:text="#{mark.score}">Puntuación</div>
				<div class="panel-body" th:text="${mark.score}">100</div>
			</div>
		</div>
		<footer th:replace="fragments/footer" />
</body>
</html>
