<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />


	<div class="container">
		<h2 th:text="#{mark.head}"></h2>
		<form class="navbar-form" action="/mark/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por descripción o nombre del alumno">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>
		<!--		<p>Notas consultadas recientemente por el usuario:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th>Descripción</th>
						<th>Puntuación</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mark : ${consultedList}">
						<td th:text="${mark.id}">1</td>
						<td th:text="${mark.description}">Ejercicio 1</td>
						<td th:text="${mark.score}">10</td>
						<td><a th:href="${'/mark/details/' + mark.id}">detalles</a></td>
						<td><a th:href="${'/mark/edit/' + mark.id}">modificar</a></td>
						<td><a th:href="${'/mark/delete/' + mark.id}">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div> -->
		<p th:text="#{mark.subhead}"></p>
		<button type="button" id="updateButton" class="btn btn-default"
			th:text="#{mark.update}">Actualizar</button>
		<script th:inline="javascript"> $( "#updateButton"
		).click(function() { var numberPage = [[${param.page}]]; var urlUpdate
		= '/mark/list/update'; if (numberPage != null ){ urlUpdate +=
		"?page="+numberPage[0]; } $("#tableMarks").load(urlUpdate); }); </script>
		<nav th:replace="fragments/tabla" th:fragment="tableMarks"/>
		<footer th:replace="fragments/pagination" />
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>
