<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />


	<div class="container">
		<h2 th:text="#{mark.head}"></h2>
		<p th:text="#{mark.subhead}"></p>
		<button type="button" id="updateButton" class="btn btn-default" th:text="#{mark.update}">Actualizar</button>
		<script>
			$("#updateButton").click(function() {
				$("#tableMarks").load('/mark/list/update');
			});
		</script>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableMarks"
				id="tableMarks">
				<thead>
					<tr>
						<th class="col-md-1"  th:text="#{mark.id}">id</th>
						<th th:text="#{mark.descrip}">Descripción</th>
						<th th:text="#{mark.score}">Puntuación</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mark : ${markList}">
						<td th:text="${mark.id}">1</td>
						<td th:text="${mark.description}">Ejercicio 1</td>
						<td th:text="${mark.score}">10</td>
						<td><a th:href="${'/mark/details/' + mark.id}" th:text="#{mark.details}">detalles</a></td>
						<td><a th:href="${'/mark/edit/' + mark.id}" th:text="#{mark.modify}">modificar</a></td>
						<td><a th:href="${'/mark/delete/' + mark.id}" th:text="#{mark.delete}">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>
